@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root {
    --primary-accent: #12F7D6;
    --col-white: #ffffff;
    --secondary-accent: #292F36;
    --col-black: #1A1E23;
    --branding-size: 117px;
    --h1-size: 64px;
    --h1-line-height: 72px;
    --h2-size: 32px;
    --primary-text-size: 16px;
    --secondary-text-size: 14px;
    --spacing-sm: 16px;
    --spacing-md: 32px;
    --spacing-lg: 64px;
    --primary-font:"IBM Plex Mono", monospace;
    --secondary-font: "Ubuntu", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: var(--secondary-font);
    font-size: var(--h1-size);
    font-weight: 400;
    line-height: var(--h1-line-height);
}
h2{
    font-family: var(--primary-font);
    font-size: var(--h2-size);
    font-weight: 500;
}
h3{
    font-family: var(--primary-font);
    color: var(--primary-accent);
    font-size: 48px;
    font-weight: 500;
}
p{
    font-family: var(--primary-font);
    font-size: var(--primary-text-size);
    color: var(--col-white);
    font-weight: 400;
}
.branding{
    font-family: var(--secondary-font);
    font-size: var(--branding-size);
    font-weight: 400;
}
a{
    font-family: var(--primary-font);
    font-size: var(--primary-text-size);
}
.primary-button{
    background-color: var(--primary-accent);
    color: var(--secondary-accent);
    border: 2px solid var(--primary-accent);
    border-radius: 32px;
}
.secondary-button{
    background-color: var(--secondary-accent);
    color: var(--col-white);
    border: 2px solid var(--primary-accent);
    border-radius: 32px;
}


/* header */
header{
    background-color: var(--secondary-accent);
}
header .header-container{
    width: 1664px;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom: 1px solid #43454D;
    box-sizing: border-box;
}
.header-container a{
    color: var(--col-white);
    font-size: var(--h2-size);
    font-weight: 500;
    text-decoration: none;
}
.logo{
    color: var(--primary-accent);
    margin-right: 8px;
}
.navbar{
    display: flex;
    align-items: center;
    position: relative;
}
.navbar .directory a {
    text-decoration: none;
    color: var(--col-white);
    font-size: 24px;
}
.navbar ul{
    list-style: none;
    display: flex;
}
.navbar .directory .active{
    margin: 0 32px 0 0 ;
    color: var(--primary-accent);
}
.search-box{
    width: 204px;
    height: 32px;
    margin: 0 64px;
    border: none;
    border-radius: 24px;
    padding: 0 var(--spacing-md) 0 var(--spacing-sm);
    box-sizing: border-box;
}
.search-icon{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 6px;
    left: 395px;
}
.social-media img{
    height: 20px;
    width: 20px;
    margin-right: 8px;
}
.social-media a{
    text-decoration: none;
    color: var(--col-white);
    font-size: 16px;
    margin-right: var(--spacing-md);
    display: flex;
    align-items: center;
}

/* hero */
.hero{
    background-color: var(--secondary-accent);
    width: 100%;
    height: 910px;
}
.hero .branding{
    font-size: var(--branding-size);
    line-height: 134px;
    color: #98FAEC;
    display: flex;
    justify-content: center;
    padding: 64px 0;
}
.hero .hero-container{
    width: 1664px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}



/* cv */
.hero .hero-container .cv{
    height: 520px;
    width: 320px;
    border: 4px solid var(--col-white);
    border-top-left-radius: 160px;
    border-bottom-right-radius: 160px;
    box-shadow: -4px -4px 2px var(--primary-accent);
    box-sizing: border-box;
    margin-left: 128px;
}


/* profile */
.hero .hero-container .cv .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero .hero-container .cv .profile img{
    height: 96px;
    width: 96px;
    margin-top: 36px;
}
.hero .hero-container .cv .profile h2{
    color: var(--col-white);
    margin-top: var(--spacing-sm);
}
.hero .hero-container .cv .profile p{
    font-size: var(--secondary-text-size);
}


/* contact */
.hero .hero-container .cv .contact{
    margin: 32px 0 0 24px;
}
.hero .hero-container .cv .contact .card{
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}
.hero .hero-container .cv .contact  img {
    height: 14px;
    width: 14px;
}
.hero .hero-container .cv .contact p{
    font-family: var(--primary-font);
    font-size: var(--secondary-text-size);
    margin-left: 16px;
}
.hero .hero-container .cv .contact ul{
    display: flex;

}
.hero .hero-container .cv .contact li{
    list-style: none;
    color: var(--col-black);
    background-color: var(--primary-accent);
    border-radius: 8px;
    padding: 0 8px;
    margin-right: var(--spacing-sm);
    font-family: var(--primary-font);
    font-size: 14px;
}

.cv button{
    font-family: var(--secondary-font);
    font-size: 20px;
    background-color: var(--col-white);
    border-radius: 32px;
    padding: 16px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0 0 24px;
    border: none;
    cursor: pointer;
}
.hero-container .cv button img{
    height: 24px;
    width: 24px;
    margin: 0 0 0 var(--spacing-sm); 
}

.hero .hero-container .conversation {
    width: 700px;
    margin-left: 128px;
}
.hero .hero-container .conversation h1{
    color: var(--col-white);
    margin-bottom: 66px;
    line-height: 72px;
    margin-top: 62px;
    margin-left: var(--spacing-sm);
}
.hero .hero-container .conversation p{
    margin-left: var(--spacing-sm);

}
.hero .hero-container .conversation a{
    color: var(--primary-accent);
    text-decoration: none;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: var(--h2-size);
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: var(--spacing-sm);
}
.hero .design-plate{
    position: relative;
}
.hero .hero-container .conversation h1::before{
    content: "<h1>";
    font-size: var(--secondary-text-size);
    color: var(--primary-accent);
    position: absolute;
    top: -50px;
    left: 0;
}
.hero .hero-container .conversation h1::after{
    content: "</h1>";
    font-size: var(--secondary-text-size);
    color: var(--primary-accent);
    position: absolute;
    bottom: -20px;
    right: 50px;

}
.hero .design{
    position: relative;
}
.hero .hero-container .conversation p::before{
    content: "<p>";
    font-size: var(--secondary-text-size);
    color: var(--primary-accent);
    position: absolute;
    top: -31px;
    left: -9px;
}
.hero .hero-container .conversation p::after{
    content: "<p>";
    font-size: var(--secondary-text-size);
    color: var(--primary-accent);
    position: absolute;
    bottom: -31px;
    left: -9px;
}
.hero .hero-container .conversation a img{
    height: 40px;
    width: 40px;
    margin-left: var(--spacing-sm);
}
/* experience */
.hero .hero-container .experience {
    background-color: var(--col-black);
    box-shadow: #0000006a 2px 2px 4px;
    border-radius: 80px;
    padding: 48px 32px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 378px;
    margin-left: 24px;
}
.hero .hero-container .experience .card{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero .hero-container .experience .card h3{
    margin-right: var(--spacing-sm);
}